adal==0.4.3
alabaster==0.7.9
azure==2.0.0rc6
azure-batch==1.0.0
azure-common==1.1.4
azure-mgmt==0.30.0rc6
azure-mgmt-batch==1.0.0
azure-mgmt-compute==0.30.0rc6
azure-mgmt-keyvault==0.30.0rc6
azure-mgmt-logic==1.0.0
azure-mgmt-network==0.30.0rc6
azure-mgmt-nspkg==1.0.0
azure-mgmt-redis==1.0.0
azure-mgmt-resource==0.30.0rc6
azure-mgmt-scheduler==1.0.0
azure-mgmt-storage==0.30.0rc6
azure-nspkg==1.0.0
azure-servicebus==0.20.3
azure-servicemanagement-legacy==0.20.4
azure-storage==0.33.0
Babel==2.3.4
certifi==2016.9.26
cffi==1.9.1
chardet==2.3.0
coverage==4.2
cryptography==1.6
docutils==0.12
enum34==1.1.6
futures==3.0.5
idna==2.1
imagesize==0.7.1
ipaddress==1.0.17
isodate==0.5.4
Jinja2==2.8
keyring==10.1
MarkupSafe==0.23
msrest==0.4.4
msrestazure==0.4.5
oauthlib==2.0.1
py==1.4.31
pyasn1==0.1.9
pycparser==2.17
Pygments==2.1.3
PyJWT==1.4.2
pytest==3.0.4
pytest-cov==2.4.0
python-dateutil==2.6.0
pytz==2016.7
requests==2.12.3
requests-oauthlib==0.7.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5
